//!-------------------------------
//!----------VARIABLES------------
//!-------------------------------

//* -------COLORS--------
//? -------pure colors-------
$blue: #001d3b;

$orange: #ff4c29;

$black: #18181b;

$grey: #27272a;

$light-grey: #39393f;

$text-grey: #71717a;

$text-light-grey: #a1a1aa;

$white: white;

//? ------- urgency classes -------------
$urgency-classes: (
  "normal": " #27272a",
  "yellow": "#fbbf24",
  "red": "#b91c1c",
);

//? ---------colors in components--------
// body
$body-background-color: $black;
$body-color: white;

// colors on areas with background
$light-text-on-background: rgba(255, 255, 255, 0.733);

//* -------BORDERS--------
$border-radius-small: 0.6rem;
$border-radius-medium: 1rem;
$border-radius-large: 2rem;

//* -------ANIMATIONS--------
$animation--time-short: 0.2s;
$animation--time-medium: 0.3s;

//!----------------------------
//!----------MIXINS------------
//!----------------------------

@mixin container($width: 140rem) {
  max-width: $width;

  margin: 0 auto; //Centers the contesnt
  padding: 0 3.2rem; // Makes screen edges not touch on smaller displays
}

@mixin grid($cols, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gap;
  @content;
}

@mixin pos-abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin pseudo($loc: before, $content: "", $pos: absolute) {
  position: relative;
  &::#{$loc} {
    content: $content;
    position: $pos;
    @content;
  }
}

@mixin center-content($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin urgency-classes {
  @each $class, $color in $urgency-classes {
    &--#{$class} {
      border-left: 4px solid #{$color};
    }
  }
}

// $party-colors: red, green, blue, violet, purple;
@mixin party-coloring {
  @for $i from 1 through 5 {
    &--#{$i} {
      background-color: nth(
        (
          rgb(255, 123, 0),
          rgb(79, 128, 0),
          rgb(51, 51, 180),
          rgb(147, 45, 168),
          rgb(82, 182, 196)
        ),
        $i
      );
    }
  }
}

// STYLE STRUCTURE
/*
Fonts and text
Background
Display and positioning
pseudo stuff

*/

@import "bratislava";
