@charset "UTF-8";

// Colors
$primary-red: #FF5D52;
$dark-red: #923438;
$basic-pink: #F8D7D4;
$basic-black: #454545;
$basic-dark-grey: #8D8D8D;
$basic-medium-grey: #C4C4C4;
$basic-cards: #E1E4E8;
$basic-light-grey: #F5F5F5;
$basic-white: #FFFFFF;
$approve-button: #5DB56E;
$on-air-icon: #ADCD00;
$info-icons: #4F86D8;

// Buttons

.btn-row {
  display: flex;
  align-items: flex-start;
  margin-block: 12px;

  .btn {
    margin-inline-end: 12px;
  }
}

.btn {
  flex: none;
  order: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.5px;

  border: none;

  &--big {
    padding: 13px 58px;
    gap: 10px;
    max-height: 19px;
    border-radius: 25px;

    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &--medium {
    padding: 10px 28px;
    gap: 10px;
    max-height: 15px;
    border-radius: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 120%;
  }

  &--red {
    background: #FF5D52;
    color: #FFFFFF;
  }

  &--green {
    background: $approve-button;
    border: 1px solid $approve-button;
    color: $basic-white;
  }

  &--secondary {
    background: $basic-white;
    border: 1px solid $primary-red;
    color: $primary-red;
  }

  &:hover {
    opacity: 0.7;
  }
}
