@charset "UTF-8";

// Colors
$primary-red: #FF5D52;
$dark-red: #923438;
$basic-pink: #F8D7D4;
$basic-black: #454545;
$basic-dark-grey: #8D8D8D;
$basic-medium-grey: #C4C4C4;
$basic-cards: #E1E4E8;
$basic-light-grey: #F5F5F5;
$basic-white: #FFFFFF;
$approve-button: #5DB56E;
$on-air-icon: #ADCD00;
$info-icons: #4F86D8;








