@use "abstracts" as *;
@use "queries" as *;
// Font imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

// Base iOS font
@font-face {
  font-family: "SfPro-R";
  src: url("@/assets/media/SFPRODISPLAYREGULAR.OTF");
}

// Medium iOS font
@font-face {
  font-family: "SfPro-M";
  src: url("@/assets/media/SFPRODISPLAYMEDIUM.OTF");
}

// Bold iOS Font
@font-face {
  font-family: "SfPro-B";
  src: url("@/assets/media/SFPRODISPLAYBOLD.OTF");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  @include media("<=768px") {
    font-size: 56.25%;
  }
}
html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
